# Debugger
.vscode/

# virtual environment
.venv/

# Ruff Cache
.ruff_cache

# Environment vars
.env

# Python cache
__pycache__/
*.py[cod]

# Workout Files
try/
try.ipynb
try.py

# Alembic
alembic/__pycache__/
alembic/*.pyc

.dist/