version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - C:/Users/ajmal/qdrant_data:/qdrant/storage
    restart: unless-stopped