accelerate==1.10.0
aiofiles==24.1.0
alembic==1.16.4
autogen==0.9.9
docling==2.47.0
fastapi==0.115.14
langchain==0.3.27
langchain-huggingface==0.3.1
loguru==0.7.3
psycopg2-binary==2.9.10
pydantic-settings==2.10.1
python-multipart==0.0.20
qdrant-client==1.15.1
torch==2.8.0
transformers==4.55.4
uvicorn==0.35.0